body {
  margin: auto;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(100deg, #ffbdf4, pink, #e6460cdb, rgb(213, 139, 218), #b28cec);
  min-height: 100vh;
  color: #ffffff;
}

@media (max-width: 767px) {
  body {
    background: linear-gradient(100deg, #ffbdf4, pink, #e6460cdb, rgb(213, 139, 218), #b28cec);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tubby-toast {
  margin-top: -75px;
}

.links {
  margin: auto;
  margin-bottom: 30px;
  margin-right: 10px;
}

.links a {
  font-size: 13.5px;
  font-weight: bolder;
  color: pink;
  flex-grow: 1;
  text-align: center;
  margin-right: 5px;
}

.links a:hover, .links a:active, .links a:focus {
  color: rgb(173, 253, 192);
  text-decoration: underline;
}

.logo-image {
  transition: transform 0.3s ease-in-out; 
  padding-top: 5px;
}

.logo-image:hover {
  transform: scale(1.1) translate(0, -5px) rotate(5deg);}

img {
  width: 128px;
  height: 130px;
  border-radius: 125px;
}

.hero {
  text-align: center;
  padding: 50px 0;
  color: white;
}

.hero h1 {
  font-size: 1.9em;
  margin-bottom: 15px;
}

@media (max-width: 850px) {
  .hero h1 {
    font-size: 1.7em;
  }
}

@media (max-width: 780px) {
  .hero h1 {
    font-size: 1.7em;
  }
}

@media (max-width: 400px) {
  .hero h1 {
    font-size: 1.6em;
  }
}

.hero h2 {
  font-size: 2.7em;
  padding-top: 3px;
  margin-bottom: 0px;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 850px) {
  .hero h2 {
    font-size: 1.7em;
    padding-top: 3px;
  }
}

@media (max-width: 880px) {
  .hero h2 {
    font-size: 1.7em;
    padding-top: 3px;
  }
}

@media (max-width: 400px) {
  .hero h2 {
    font-size: 1.6em;
    padding-top: 4.2px;
  }
}

.hero h3 {
  font-size: 1.5em;
  margin-bottom: 0px;
}

a {
  margin-left: 20px;
  text-decoration: none;
  color: pink;
}

a:hover {
  text-shadow: 0 0 10px rgba(246, 205, 243, 0.8);
}

.brand, .brand-symbols {
  color: rgb(173, 253, 192);
  text-shadow: 0 0 10px rgba(246, 205, 243, 0.8);
  font-family: 'Rubik Puddles';
}

.brand:hover, .brand-symbols:hover {
  color: rgb(255, 182, 250);
}

.about, .services, .details {
  font-size: 15.6px;
  width: 420px;
  margin: auto;
  margin-top: 15px;
  padding-bottom: 20px;
}

@media (max-width: 850px) {
  .about, .services, .details {
    width: 350px;
  }
}

.services {
  width: 320px;
  margin-top: -6px;
}

.about .light {
  font-size: 14px;
}

.light {
  font-style: italic;
  font-size: 11px;
  margin-top: -6px;
  margin-bottom: 2px;
  margin-left: 25px;
}

h1 {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 0;
  margin-bottom: 0px;
  font-size: 3.4em;
}

@media (max-width: 767px) {
  h1 {
    font-size: 3.2em;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.6em;
  }
}

.star-icon {
  color: rgb(255, 255, 126);
  font-size: 0.45em; 
  display: inline-block; 
  position: relative; 
  animation: rotate 5s linear infinite;
}

@media (max-width: 600px) {
  .star-icon {
    font-size: 0.39em; 
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h2 {
  margin-top: -30px;
  font-size: 1.5em;
  font-weight: lighter;
}

h3 {
  margin-bottom: 2px;
}

.social-icons {
  margin: auto;
}

.handle {
  font-size: 16px;
}

.icons, .star-icon {
  vertical-align: middle;
}

.service-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.service-image {
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 395px;
  border-radius: 10px;
  position: relative;
  transition: filter 0.3s ease; 
}

.service-image:hover{
  cursor: pointer;
}

.service-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.476);
  border-radius: 10px;
  transition: background-color 0.3s ease;
  color: rgba(0, 0, 0, 0);
}

.service-card:hover .service-image {
  filter: brightness(100%);
  color: rgba(0, 0, 0, 0);
}

.service-card:hover .service-overlay {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.service-card:hover .service-name {
  z-index: 0;
  color: rgba(0, 0, 0, 0);
  transition: z-index 0.3s ease, color 0.3s ease
}

.service-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  color: rgb(255, 255, 255);
  font-size: 1em;
  font-weight: lighter;
  transition: z-index 0.3s ease, color 0.3s ease
}

.details-name {
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
  font-size: 24px;
}

.details-light {
  font-style: italic;
}

.details-price {
  color: #ffffff;
  margin-top: 25px;
  font-size: 20px;
}

.service-card.selected .service-image {
  filter: none;
}

.service-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.391);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.service-details-card {
  background: #000000d6;
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 350px;
  width: 100%;
  opacity: 1;
  position: relative;
  z-index: 1001;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 5px;
  background-color: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-button:hover {
  background-color: transparent;
  color: red;
}

.line {
  color: rgb(193, 228, 193);
  width: 75%;
  margin: auto;
  margin-top: -5px;
}

.toggle-button {
  color: white;
  width: 125px;
  border-radius: 50px;
}

.toggle-button:hover {
  color: grey;
}

.follow-up {
  font-size: 0.7em;
}

.feed {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submit {
  color: white;
  width: 390px;
}

@media (max-width: 850px) {
  .submit {
    width: 325px;
  }
}

@media (max-width: 800px) {
  .submit {
    width: 325px;
  }
}

.submit:hover {
  color: grey;
}

.instagram {
  font-size: 1.8em;
  color: white;
  margin-top: -25px;
  margin-bottom: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.explore, .book-now { 
  font-size: 12.5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.957);
  border: none;
  width: 200px;
}

.explore {
  background: transparent;
  border: 1px solid black;
}

.explore:hover, .book-now:hover {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 850px) {
  .explore, .book-now {
    font-size: 11px;
    width: 160px;
  }
}

@media (max-width: 600px) {
  .explore, .book-now {
    font-size: 10px;
    width: 150px;
  }
}

@media (max-width: 400px) {
  .explore, .book-now {
    font-size: 10px;
    width: 150px;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin-bottom: 25px; 
  }
}

@media (max-width: 991px) {
  .tubby-toast {

  margin-top: -50px;
  }
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: #33333300;
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom: -12px;
}

.footer-content {
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
  font-size: 8px;
}