body {
  margin: auto;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(100deg, #ffbdf4, #e6460cdb, #b28cec);
  min-height: 100vh;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 146px;
  height: 135px;
  border-radius: 125px;
}

a {
  margin-left: 20px;
  text-decoration: none;
  color: pink;
}

a:hover {
  text-shadow: 0 0 10px rgba(246, 205, 243, 0.8);
}

.brand {
  color: rgb(173, 253, 192);
  text-shadow: 0 0 10px rgba(246, 205, 243, 0.8);
  font-family: 'Rubik Puddles';
}

.brand:hover {
  color: rgb(255, 182, 250);
}

.about, .services, .details {
  font-size: 15px;
  width: 350px;
  margin: auto;
  margin-top: 15px;
  padding-bottom: 20px;
}

.light {
  font-style: italic;
}

h1 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 2.8em;
}

h1 .icons {
  font-size: 0.45em; 
  display: inline-block; 
  position: relative; 
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h2 {
  margin-top: 0px;
  font-size: 1.2em;
  font-weight: lighter;
}

.social-icons {
  margin: auto;
}

.handle {
  font-size: 16px;
}

.icons {
  vertical-align: middle;
}

.service-card {
  position: relative;
  overflow: hidden;
}

.service-image {
  margin-bottom: 3px;
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 420px;
  border-radius: 10px;
  position: relative;
  transition: filter 0.3s ease; 
}

.service-image:hover{
  cursor: pointer;
}

.service-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.476);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.service-card:hover .service-image {
  filter: brightness(80%);
}

.service-card:hover .service-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.service-name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
}

.service-card.selected .service-image {
  filter: none;
}

.service-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.391);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.service-details-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  opacity: 1;
  position: relative;
  z-index: 1001;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 5px;
  background-color: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.close-button:hover {
  background-color: transparent;
  color: red;
}

.line {
  color: rgb(193, 228, 193);
}

.toggle-button {
  color: white;
  width: 125px;
  border-radius: 50px;
}

.follow-up {
  font-size: 0.8em;
}

.feed {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.submit {
  color: white;
  width: 325px;
}

.instagram {
  font-size: 1.8em;
  color: black;
  margin-top: -10px;
}