body {
  margin: auto;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(100deg, #e9c8f6, #f46b39, #b28cec);
  min-height: 100vh;
  color: black
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 75px;
}

.titles {
  font-family: 'Lora', serif;
}

a {
  margin-left: 20px;
  text-decoration: none;
}

